<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>NgTodos</title>
	<link rel="stylesheet" href="dist/style.css">
</head>
<body>
	<div id="mainContainer" ng-app="toDoApp">
		<div ng-controller="toDoController">
			<h3>Todos count: {{ todos.length }}</h3>
			<span ng-if="todos.length === 0">You have no active todos!</span>
			<span ng-if="todos.length > 0">
				Hey! You have {{ remainingTasksCount }} todos left. {{ completedTasksCount }} has already been complete.
			</span>
			<a href="#!todo/add">Add Todo</a>

			<div ng-view></div>
		</div>
	</div>
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-messages/angular-messages.js"></script>
	<script src="node_modules/angular-route/angular-route.js"></script>
	<script src="dist/bundle.js"></script>
</body>
</html>